[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/libssh2"]
	path = third_party/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "third_party/jsmn"]
	path = third_party/jsmn
	url = https://github.com/zserge/jsmn.git
